div{
  background-color: rgb(2, 51, 62);
  color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
}

h1 {
  color : red;
}

h3 {
  background-color: chocolate;
}

.class1 {
  color: chartreuse;
}